.search-form {
  display: flex;
  justify-content: center;

  padding-bottom: 15px;
  padding-top: 15px;

  background-color: #4056b4;
}

.search-form__input {
  margin-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 3px;
}

.search-form__button {
  position: relative;
  display: inline-block;
  padding: 10px 10px;
  text-decoration: none;
  color: #4056b4;
  border: 4px solid #7ea7d7;
  border-radius: 4px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  transition: 0.2s;
  transition-delay: 0.1s;
  cursor: pointer;

  &:hover {
    padding: 10px 15px;
  }
}

.button-wrapper {
  display: flex;
  justify-content: center;

  padding-top: 10px;
  padding-bottom: 10px;
}
